footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 100;
    letter-spacing: 0.1rem;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0 0 1rem 0;
    background-color: var(--dark-primary);
}

.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer * {
    margin: 0 0 0.25rem 0;
    font-size: 0.75rem;
    font-weight: 300;
    letter-spacing: 15%;
}

.footer-topper {
    height: 1rem;
    background-color: var(--dark-primary);
    background: linear-gradient(0deg, var(--dark-primary) 25%, rgba(0, 0, 0, 0) 100%);
    background-size:cover;
    background-position: center;
}

nav.footer {
    display: inline-block;
}

nav.footer a {
    cursor: pointer;
}


@media (prefers-color-scheme: light) {
    footer {
        background-image: radial-gradient(
            ellipse at bottom, 
            var(--light-tertiary) 45%,
            rgba(255,255,255,0) 65%
        );
    }
    .footer * {
        font-weight: 400;
    }
}

@media screen and (max-width: 600px) {
    .footer * {
        font-size: 0.65rem;
    }
}