header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    padding: 1rem 2rem;
    background-image: var(--dark-gradient);
    box-shadow: var(--shadow-style);
}

#header-container {
    display: inline-flex;
    flex-direction: row;
}

h1 {
    color: var(--light-secondary);
    font-size: 3.2rem;
    line-height: 1.1;
}

.header-bar > nav {
    padding: 0 0 0 0.5rem;
}

.header-bar {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.header-bar > div {
    display: inline-flex;
}

.post-icon {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.subtitle {
    margin: 0;
    padding: 0.2rem;
    display: block;
    font-size: 0.8rem;
    font-weight: 300;
    letter-spacing: 0.22rem;
}

@media (prefers-color-scheme: dark) {
    header {
        background-image: var(--dark-gradient);
    }
    
    h1 {
        color: var(--light-secondary);
    }

    nav a {
        text-shadow: var(--shadow-style);
    }
}

@media (prefers-color-scheme: light) {
    header {
        background-image: var(--light-gradient);
    }
    
    h1 {
        color: var(--dark-secondary);
    }

    .subtitle {
        font-weight: 400;
        letter-spacing: 0.21rem;
    }
}

/*Sizes*/
@media screen and (max-width: 600px) {
    header {
        padding: 0.65rem;
    }
    .header-bar {
        flex-direction: column;
        align-items: center;
    }
    h1 {
        color: var(--light-secondary);
        font-size: 2.2rem;
        line-height: 1.1;
    }
    nav {
        display: inline-flex;
        width: 100%;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 0.15rem;
        justify-content: space-around;
    }
    .subtitle {
        font-size: 0.7rem;
        text-align: center;
        padding: 0;
    }
}