:root {
    --hero-icon-size: 5rem;
}

.hero-icon-container {
    width: var(--hero-icon-size);
    height: var(--hero-icon-size);
    margin-right: 1rem;
    flex: none;
}

.hero-icon {
    width: var(--hero-icon-size);
    height: var(--hero-icon-size);
    object-fit: cover;
    border-radius: 50%;
    border: 0.3rem solid var(--link-hover);
}

.hero-icon img {
    width: var(--hero-icon-size);
    height: var(--hero-icon-size);
    line-height: calc(var(--hero-icon-size)*1.75);
}

@media (prefers-color-scheme: dark) {
    .hero-icon {
        border: 0.3rem solid var(--callout-primary);
    }
}

@media (prefers-color-scheme: light) {
    .hero-icon {
        border: 0.3rem solid var(--link-hover);
    }
}

@media (max-width: 600px) {
    :root {
        --hero-icon-size: 3.5rem;
    }
}