:root {
  /* Colors */
  --brown-eye-color: #5a3924;
  --blue-eye-color: #78aed1;
  --link: #d6ffb7;
  --link-hover: #39a2ae;
  --link-visited: #a0dd71;
  --light-primary: #f5fffe;
  --light-secondary: #d7dfe7;
  --light-tertiary: #b3bec9;
  --dark-primary: #191d32;
  --dark-secondary: #232842;
  --dark-tertiary: #2e3e57;
  --light-bg-error: #bd3037;
  --dark-bg-error: #ff5d80;
  --callout-primary: #7274ff;
  --callout-secondary: #6163d4;
  --callout-tertiary: #373983;
  --disabled-button-text: #1a1a1a;
  --disabled-button-bg-primary: #5f5f5f;
  --disabled-button-bg-secondary: #474747;
  --disabled-button-border: #a1a1a1;



  /* Styles */
  --shadow-style:-0.25rem 0.25rem 1rem rgba(0, 0, 0, 1);
  --light-gradient: linear-gradient(var(--light-primary) 70%, var(--light-tertiary) 100%);
  --dark-gradient: linear-gradient(var(--dark-primary) 10%, var(--dark-secondary) 90%);
  --light-callout-gradient: linear-gradient(var(--light-primary) 70%, var(--light-tertiary) 100%);
  --dark-callout-gradient: linear-gradient(var(--dark-primary) 70%, var(--dark-tertiary) 100%);

  /* Font */
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  /* Color Modes */
  color-scheme: light dark;
  color: var(--light-primary);
  background-color: var(--dark-primary);
  --error: var(--light-bg-error);

  /* Transitions */
  transition: color 0.25s ease-in,
  background-color 0.25s ease-in,
  --error 0.25s ease-in;

  /* Compatibility */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 9rem 0 7rem 0;
}

.wide-screen { display: inherit; }
.narrow-screen { display: none; }

/* Navigation */
#projects, #about, #resume, #contact, #home, #skills, #clients {
  scroll-margin-top: 10rem; 
}

li {
  list-style-type: none;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: var(--dark-gradient);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1.5rem;
}

.section-title {
  text-decoration: underline;
  text-decoration-color: var(--callout-primary);
  text-decoration-thickness: 0.25rem;
}

.section-title.about,
.section-title.contact {
  text-decoration-color: var(--link-hover);
}

.title-subtitle {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 1rem;
  margin: 0.5rem 0;
}

.show-more {
  text-align: center;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  padding: 1rem 2rem;
}

.block-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-alt-wrapper {
  font-size: 0.8rem;
  line-height: 1.05rem;
  text-align: center;
}

/* Links */
a {
  color: var(--link);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  transition: color 0.25s;
}

a:visited {
  color: var(--link-visited);
}

a:hover {
  color: var(--link-hover);
}

/* Inputs */
input, textarea {
  background-color: #bdc5c5;
  background-image: linear-gradient(#cdd5d6 70%, #abb2b6 100%);
  color: black;
  border-radius: 0.25rem;
  border-color: var(--callout-primary);
}

nav {
  display: inline-flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: space-around;
}

button {
  align-self: center;
  padding: 1rem 0.5rem;
  border: 0.1rem solid var(--light-primary);
  border-radius: 0.5rem;
  letter-spacing: 0.05rem;
  background-color: var(--callout-primary);
  background-image: linear-gradient(var(--callout-secondary) 40%, var(--callout-tertiary) 100%);
  color: var(--light-primary);
  font-weight: bold;
  cursor: pointer;
}

button:hover{
  background-image: linear-gradient(var(--callout-tertiary) 40%, var(--callout-secondary) 100%);
}

.filter-button {
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.25rem;
  min-width: 4rem;
  margin: 0;
  border: 0.1rem solid var(--disabled-button-border);
  background-color: var(--disabled-button-bg-primary);
  background-image: linear-gradient(var(--disabled-button-bg-primary) 40%, var(--disabled-button-bg-secondary) 100%);
  color: var(--disabled-button-text);
  cursor: not-allowed;
}

.filter-button:hover {
  background-image: linear-gradient(var(--disabled-button-bg-secondary) 40%, var(--disabled-button-bg-primary) 100%);
}

/* Special */
.brown-eye,
.blue-eye {
    display: inline-block;
    margin: 0;
    padding: 0;
    text-decoration: underline;
}

.brown-eye {
    text-decoration-color: var(--brown-eye-color);
}

.blue-eye {
    text-decoration-color: var(--blue-eye-color);
}

/* -- Media Queries -- */
/* Color Modes */
@media (prefers-color-scheme: light) {
  :root {
    color: var(--dark-primary);
    background-color: var(--light-primary);
    --error: var(--light-bg-error);
  }
  body {
    background-image: var(--light-gradient);
  }
  a {
    color: var(--callout-secondary);
  }
  a:visited {
    color: var(--callout-tertiary);
  }
  a:hover {
    color: var(--callout-primary);
  }
  .brown-eye,
  .blue-eye {
    text-decoration-thickness: 0.1rem;
  }
  h1.brown-eye,
  h1.blue-eye {
    text-decoration-thickness: 0.4rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--light-primary);
    background-color: var(--dark-primary);
    --error: var(--dark-bg-error);
  }
  body {
    background-image: var(--dark-gradient);
  }
}

/*Sizes*/
@media screen and (max-width: 600px) {
  .wide-screen {
    display: none;
  }
  .narrow-screen {
    display: inherit;
  }
  body {
      font-size: 12px;
  }
  section {
    margin-left: 0;
  }
  .title-subtitle {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    margin: 0 0 0 0.5rem;
  }
  a {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 1200px) {
  body {
      font-size: 20px;
  }
}