.project-card {
  min-width: 18rem;
  max-width: 18rem;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  background-color: rgba(139, 139, 139, 0.1);
  border-radius: 1rem;
}

.project-title,
.project-job-type {
  margin: 0 0 0.25rem 0;
}

.project-job-type {
  color: var(--callout-primary);
  text-align: right;
  font-weight: 300;
  font-size: 85%;
}

.project-card p {
  margin: 0;
  font-size: 85%;
}

.project-card img {
  margin: 0 0 0.25rem 0;
  align-self: center;
  width: 16rem;
  height: 9rem;
  background-color: rgba(1,1,1,0.1);
  border-radius: 0.5rem;
  text-align: center;
}

.project-card ul {
  margin: 0;
  padding: 0;
  font-size: 90%;
  list-style-type: none;
}

.project-links,
.primary-links {
  width: 100%;
}

.project-links a {
  font-size: 1rem;
  font-weight: 500;
  text-shadow: none;
}

.primary-links {
  display: flex;
  justify-content: space-between;
}

@media (prefers-color-scheme: dark) {

}
@media (prefers-color-scheme: light) {

}