.resume-section {
  margin: 3rem 0 4rem 1.5rem;
  align-items: center;
  justify-content: center;
}

.resume-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.resume-section a {
  margin: 0 auto;
  align-self: center;
  width: 30rem;
  padding: 0.5rem 3rem;
  border: 0.1rem solid white;
  border-radius: 0.5rem;
  letter-spacing: 5%;
  background-color: var(--callout-primary);
  background-image: linear-gradient(var(--callout-secondary) 40%, var(--callout-tertiary) 100%);
  color: var(--light-primary);
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.resume-section a:hover {
  background-image: linear-gradient(var(--callout-tertiary) 40%, var(--callout-secondary) 100%);
}
