:root {
  --skill-icon-size: 4rem;
  --sk-white: #c4d3d4;
  --sk-green: #52ca7a;
  --sk-blue: #6294ff;
  --sk-purple: #ad0ead;
  --sk-orange: #ffb428;
}

.image-alt-wrapper {
  width: var(--skill-icon-size);
  height: var(--skill-icon-size);
  min-width: var(--skill-icon-size);
  min-height: var(--skill-icon-size);
  border-radius: 0.25rem;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.2);
}

.skill-types {
  padding: 0;
}

.skill-type {
  font-size: 0.75rem;
  text-align: right;
}

.skill-icon {
  width: var(--skill-icon-size);
  height: var(--skill-icon-size);
  object-fit: cover;
}

.skill-card {
  max-width: 24rem;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  background-color: rgba(139, 139, 139, 0.1);
  background-image: linear-gradient(
    rgba(139, 139, 139, 0.2) 10%,
    rgba(0, 0, 0, 0.1) 80%
  );
  border-radius: 1rem;
  border: solid 0.2rem rgb(75, 75, 75);
}

.skill-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.5rem;
}

.skill-header h3 {
  margin: 0 0 0.25rem 0;
}
.skill-header small {
  padding: 0.25rem 0.25rem 0.25rem 0.5rem;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.confidence-passion-section {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  background-color: rgba(139, 139, 139, 0.1);
  border-radius: 0.25rem;
  margin: 0.25rem 0;
  padding: 0 0.25rem 0.25rem 0.25rem;
  gap: 0.5rem;
}

.confidence-section,
.passion-section {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0.25rem;
  padding: 0.25rem 1rem 0.5rem;
  border-radius: 0.25rem;
}
.text-number,
.decorator-bar-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.text-number {
  justify-content: space-between;
  gap: 0.25rem;
}
.text-number h6 {
  margin: 0;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.skill-body p {
  margin: 0.25rem;
}

.skill-types .show-more,
.skill-body .show-more {
  font-size: 0.8rem;
  margin: 0;
  padding: 0 0.25rem;
  border-radius: 0.3rem;
  border: 0.05rem solid var(--callout-primary);
  color: #cfd0ff;
  background: none;
  transition: background 0.3s;
}

.skill-body .show-more:hover,
.show-more.details:hover {
  background: var(--callout-tertiary);
}



/***** Decorations ******/
.skillcap-20 {
  color: var(--sk-white);
}
.skillcap-40 {
  color: var(--sk-green);
}
.skillcap-60 {
  color: var(--sk-blue);
}
.skillcap-80 {
  color: var(--sk-purple);
  font-weight: bold;
}
.skillcap-100 {
  color: var(--sk-orange);
  font-weight: bolder;
}

.fillbar-20,
.fillbar-40,
.fillbar-60,
.fillbar-80,
.fillbar-100 {
  width: 1.2rem;
  height: 0.5rem;
  border-radius: 0.1rem;
}
.fillbar-20 {
  background-color: var(--sk-white);
}
.fillbar-40 {
  background-color: var(--sk-green);
}
.fillbar-60 {
  background-color: var(--sk-blue);
}
.fillbar-80 {
  background-color: var(--sk-purple);
}
.fillbar-100 {
  background-color: var(--sk-orange);
}

.decorator-bar-container {
  gap: 1px;
}