:root {
  --skill-icon-size: 4rem;
  --sk-white: #c4d3d4;
  --sk-green: #52ca7a;
  --sk-blue: #6294ff;
  --sk-purple: #ad0ead;
  --sk-orange: #ffb428;
}

.skillcap-20 {
  color: var(--sk-white);
}
.skillcap-40 {
  color: var(--sk-green);
}
.skillcap-60 {
  color: var(--sk-blue);
}
.skillcap-80 {
  color: var(--sk-purple);
  font-weight: bold;
}
.skillcap-100 {
  color: var(--sk-orange);
  font-weight: bolder;
}

.image-alt-wrapper {
  width: var(--skill-icon-size);
  height: var(--skill-icon-size);
  border-radius: 0.25rem;
  border: 1px solid var(--link-hover);
}

.skill-icon {
  width: var(--skill-icon-size);
  height: var(--skill-icon-size);
  object-fit: cover;
}

.skill-card {
  max-width: 24rem;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  background-color: rgba(139, 139, 139, 0.1);
  border-radius: 1rem;
}

.skill-header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 0.5rem;
}

.skill-header h3 {
  margin: 0 0 0.25rem 0;
}

.confidence-passion-section,
.confidence-passion-section * {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.skill-body p {
  margin: 0.25rem;
}

.skill-types .show-more,
.skill-body .show-more {
  font-size: 0.8rem;
  margin: 0;
  padding: 0 0.25rem;
  border-radius: 0.3rem;
  border: 0.05rem solid var(--callout-primary);
  color: #cfd0ff;
  background: none;
  transition: background 0.3s;
}

.skill-body .show-more:hover,
.show-more.details:hover {
  background: var(--callout-tertiary);
}