/* ||-Skill-Badge */
.skill-badge {
  display: flexbox;
  min-width: 50%;
  max-width: 90%;
  flex-basis: 600px;
  min-height: fit-content;
  background-color: rgb(192, 223, 223);
  border-radius: 1rem;
}

.skill-badge-icons-container {
  display: flexbox;
  width: 30%;
}

.skill-badge-icons-container-top {
  display: flex;
}

.skill-badge-type-icon {
  flex-basis: 2rem;
  border-radius: 25%;
  margin: 0.3rem;
}

.skill-badge-type-text {
  flex-basis: content;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.8rem;
  width: fit-content;
}
.skill-badge-type-text::before {
  content: ": ";
}

.skill-badge-hero-icon {
  width: 128px;
  border-radius: 20%;
  margin: 0.6rem;
}

.skill-badge-text-container {
  display: none;
}

.confidence-text-container{
  display: flexbox;
}

.confidence-details-dropdown {
  display: none;
  position: absolute;
  z-index: 1;
}

.confidence-text-container:hover
.confidence-details-dropdown {
  display: flexbox;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}