.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1.5rem;
}

.contact-section {
    margin: 0;
    width: 65%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    background-color: var(--light-primary);
    background-image: var(--light-gradient);
    color: var(--dark-primary);
    border-radius: 1.5rem;
    border: 0.2rem solid var(--callout-primary);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
}

.contact-section h2,
.contact-section p {
    margin: 0;
}

.contact-section > p {
    font-size: 0.75rem;
}

.contact-section form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
}

#contact-error {
    color: var(--error);
    font-weight: bold;
    margin: 1rem;
    text-align: center;
    text-decoration: underline;
    letter-spacing: 0.05rem;
}

textarea {
    resize: vertical;
    min-height: 4rem;
    max-height: 30rem;
    height: 10rem;
}

@media (prefers-color-scheme: dark) {
    .contact-section {
        background-color: var(--dark-primary);
        background-image: var(--dark-callout-gradient);
        color: var(--light-primary);
    }
}

@media (prefers-color-scheme: light) {
    .contact-section {
        background-color: var(--light-primary);
        background-image: var(--light-callout-gradient);
        color: var(--dark-primary);
    }
}