footer {
    display: inline-block;
    text-align: center;

    font-weight: 100;
    letter-spacing: 0.1rem;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 1.5rem;
    background-image: radial-gradient(
        ellipse at bottom, 
        var(--dark-primary) 45%,
        rgba(0,0,0,0) 65%
    );
    background-size: 300vw 100%;
    background-position: -100vw 0;
}

.footer * {
    margin: 0 0 0.25rem 0;
    font-size: 0.75rem;
    font-weight: 100;
    letter-spacing: 15%;
}

nav.footer {
    display: inline-block;
}

nav.footer a {
    cursor: pointer;
}


@media (prefers-color-scheme: light) {
    footer {
        background-image: radial-gradient(
            ellipse at bottom, 
            var(--light-tertiary) 45%,
            rgba(255,255,255,0) 65%
        );
    }
    .footer * {
        font-weight: 400;
    }
}