:root {
    --hero-icon-size: 5rem;
}

.hero-icon-container {
    width: var(--hero-icon-size);
    height: var(--hero-icon-size);
    margin-right: 1rem;
}

.hero-icon {
    width: var(--hero-icon-size);
    height: var(--hero-icon-size);
    object-fit: cover;
    border-radius: 50%;
    border: 0.3rem solid #45cfc4;
}

img {
    width: var(--hero-icon-size);
    height: var(--hero-icon-size);
    line-height: calc(var(--hero-icon-size)*1.75);
}