:root {
    --swatch-oxford-blue: #191d32;
    --swatch-space-cadet: #282f44;
    --swatch-moonstone: #39a2ae;
    --swatch-tea-green: #d6ffb7;
    --swatch-wisteria: #c69dd2;
    --bg-color1: var(--swatch-oxford-blue);
    --bg-color2: var(--swatch-space-cadet);
    --col-text-light: #f5fffe;
    --col-text-dark: #383838;
}

body {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    font-size: 160px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--col-text-light);
    background-color: var(--bg-color1);
}





/* ||-Media */
@media screen and (max-width: 520px) {
    body {
        font-size: 12px;
    }
}

@media screen and (min-width: 1200px) {
    body {
        font-size: 20px;
    }
}